<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo M Mello</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/icon.png">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="profile_container">
                <div class="profile_image">
                    <img src="images/profile-pic.png" alt="Gustavo Mello">
                </div>
                <div>
                    <h1 class="profile_name">
                        <span class="profile_vorname">Gustavo Moreira de</span>
                        <span class="profile_nachname">Mello</span> 
                        <img src="images/moon.png" id="night" alt="moon">
                    </h1>
                    <p class="profile_title">Software Developer</p>
                    <p class="description">I am a fourth year undergraduate student at FACENS in
                        Computer Engineering, an area that combines technology
                        and my passion for innovation. At FACENS, I participated in
                        opportunities to explore the world, participating in startup
                        competitions, Open Source groups, participating in
                        Scientific Initiations focusing on data analysis with Python
                        and as a scholarship student in Catalonia, Spain in 2020.
                        I am currently doing an internship as a software developer,
                        working with C#, Blazor, WPF and Python in the Fraunhofer
                        Institute in the city of Aachen, Germany. I am also an alumni
                        for Facens at Babson University's Collaborative Student
                        Network and I am a member of the GDG (Google Developers
                        Groups) in my hometown of Sorocaba.</p>
                        <a class="downloadBtn" href="../cv.pdf" download="Gustavo_Mello_CV.pdf">Download Resume</a>
                </div>
            </div>
        </div>
        <div class="group-1">
            <div class="skills">
                <h3 class="title">Expertise</h3>
                <ul class="skill_list description">
                    <li>JavaScript</li>
                    <li>C# & WPF</li>
                    <li>HTML CSS JavaScript</li>
                    <li>React Vue</li>
                    <li>Flutter</li>
                    <li>Python TensorFlow</li>
                </ul>
            </div>
            <div class="ref">
                <h3 class="title">Languages</h3>
                <div class="ref_item">
                    <h4 class="ref_name">Advanced English C1</h4>
                </div>
                <div class="ref_item">
                    <h4 class="ref_name">Spanish intermediary- B1</h4>
                </div>
                <div class="ref_item">
                    <h4 class="ref_name">Basic German – A1</h4>
                </div>
                <div class="ref_item">
                    <h4 class="ref_name">Basic Catalan - A1</h4>
                </div>
            </div>
            <div class="edu">
                <h3 class="title"></h3>
                <div class="edu_item">
                    <p class="item_preTitle">Jan. 2017 - Dec 2023</p>
                    <h4 class="item_title">Computer engineering</h4>
                    <p class="item_subtitle">
                        Faculdade de Engenharia de Sorocaba
                    </p>
                </div>
                <div class="edu_item">
                    <p class="item_preTitle">Jan 2020- Jul 2020</p>
                    <h4 class="item_title">Exchange Program ERASMUS</h4>
                    <p class="item_subtitle">
                        Universitat de Lleida - Spain
                    </p>
                </div>
            </div>
            <div class="certification">
                <h3 class="title">Extracurriculars</h3>
                <class class="certification_item">
                    <p class="item_preTitle">2018</p>
                    <h4 class="item_title">RYLA Program (Rotary Youth Leadership Awards) Sorocaba</h4>
                </class>
                <class class="certification_item">
                    <p class="item_preTitle">2018</p>
                    <h4 class="item_title">Project Young Brazilians in Action
                        (JBA) of the Military Police and
                        Rotary Club Sorocaba</h4>
                </class>
                <class class="certification_item">
                    <p class="item_preTitle">an. 2019
                        - July 2022</p>
                    <h4 class="item_title">Member of FACE (FACENS
                        Entrepreneurship Center)</h4>
                </class>
                <class class="certification_item">
                    <p class="item_preTitle">Jan. 2020 - July 2022.</p>
                    <h4 class="item_title">Babson Collaborative Students
                        Community Ambassador in Brazil</h4>
                </class>
                <class class="certification_item">
                    <p class="item_preTitle">Feb. 2022 - current</p>
                    <h4 class="item_title">Member of the GDG ( Google
                        Developer Group ) of Sorocaba-SP</h4>
                </class>
                <class class="certification_item">
                    <p class="item_preTitle">2018</p>
                    <h4 class="item_title">RYLA Program (Rotary Youth Leadership Awards) Sorocaba</h4>
                </class>
            </div>
        </div>
        <div class="group-2">
            <div class="exp">
                <h3 class="title">Experience</h3>
                <div class="exp_item">
                    <p class="item_preTitle">July 2022 - current</p>
                    <h4 class="item_title">Fraunhofer-Institut für Produktionstechnologie</h4>
                    <p class="item_subtitle">Student Assistant and Software Developer Intern</p>
                    <p class="description">
                        Software development with the aim of automating
                        production with the following technologies: C#, Blazor, WPF
                        and Python
                    </p>
                </div>
                <div class="exp_item">
                    <p class="item_preTitle">Oct. 2021 - May 2022</p>
                    <h4 class="item_title">Liquid Galaxy LAB FACENS</h4>
                    <p class="item_subtitle">Frontend Developer</p>
                    <p class="description">
                        WEB application development focusing on Vue.js, Node.js, SQL and Firebase. And mobile application development with Flutter and Firebase
                    </p>
                </div>
                <div class="exp_item">
                    <p class="item_preTitle">Oct 2020- Sept 2021</p>
                    <h4 class="item_title">Varroc Lighting Systems</h4>
                    <p class="item_subtitle">IT intern</p>
                    <p class="description">
                        Provision of technical support, server maintenance and local network planning and management.
                    </p>
                </div>
            </div>
            <div class="awards">
                <h3 class="title">Awards</h3>
                <div class="awards_item">
                    <p class="item_preTitle">2021</p>
                    <h4 class="item_title">Pomodoro University</h4>
                    <p class="description">1st place in Youthpreneur in Action
                        2021
                    </p>
                </div>
                <div class="awards_item">
                    <p class="item_preTitle">2021</p>
                    <h4 class="item_title">AUC University</h4>
                    <p class="description">3rd place in the SU Real Life Global
                        Competition
                    </p>
                </div>
                <div class="awards_item">
                    <p class="item_preTitle">2019</p>
                    <h4 class="item_title">FACENS</h4>
                    <p class="description">1st place in the FACENS Stage of the
                        Babson College Challenge
                    </p>
                </div>
            </div>
            <div class="interest">
                <h3 class="title">Interest</h3>
                <div class="interest_items">
                    <div class="interest_item">
                        <i data-feather="music"></i>
                        <span>Music</span>
                    </div>
                    <div class="interest_item">
                        <i data-feather="book"></i>
                        <span>History Book</span>
                    </div>
                    <div class="interest_item">
                        <i data-feather="map"></i>
                        <span>Travel</span>
                    </div>
                    <div class="interest_item">
                        <i data-feather="play"></i>
                        <span>Games</span>
                    </div>
                    <div class="interest_item">
                        <i data-feather="book"></i>
                        <span>Books</span>
                    </div>
                    <div class="interest_item">
                        <i data-feather="dribbble"></i>
                        <span>Sports</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="group-3">
            <div class="contact">
              <h3 class="title">Contact</h3>
              <div class="contact_info">
                <p class="description">
                    Theaterstr. 25, 52062. Aachen -
                    Germany
                </p>
                <p class="description">
                    4915753830252
                </p>
                <p class="description">
                  gustavommello03@gmail.com
                </p>
              </div>
            </div>
            <div class="social">
              <h3 class="title">Socials</h3>
              <div class="social_items">
                <a href="https://github.com/GustavoMMello01" target="_blanck" class="social_item">
                  <i data-feather="github"></i>
                  <span>/gustavommello01</span>
                </a>
                <a href="https://gitlab.com/gustavommello03" target="_blanck" class="social_item">
                  <i data-feather="gitlab"></i>
                  <span>/gustavommello03</span>
                </a>
                <a href="https://www.linkedin.com/in/gustavo-mello-555b62196/" target="_blank" class="social_item">
                  <i data-feather="linkedin"></i>
                  <span>/Gustavo Mello</span>
                </a>
                <a href="https://www.youtube.com/channel/UCXtNKCJazmIM6xSVsV3pUpQ" target="_blank" class="social_item">
                    <i data-feather="youtube"></i>
                    <span>/Gustavo Moreira</span>
                </a>
              </div>
            </div>
          </div>
    </div>
    <script>
        feather.replace()
    </script>
    <script src="js/index.js"></script>
</body>
</html>