<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
    <div class="container">
        <h3 class="title">QrCode</h3>
        <div class="profile_image">
            <img src="images/qrcode.png" alt="Gustavo Mello">
        </div>
        <div class="social">
            <h3 class="title">Socials</h3>
            <div class="social_items">
              <a href="https://github.com/GustavoMMello01" target="_blanck" class="social_item">
                <i data-feather="github"></i>
                <span>/gustavommello01</span>
              </a>
              <a href="https://gitlab.com/gustavommello03" target="_blanck" class="social_item">
                <i data-feather="gitlab"></i>
                <span>/gustavommello03</span>
              </a>
              <a href="https://www.linkedin.com/in/gustavo-mello-555b62196/" target="_blank" class="social_item">
                <i data-feather="linkedin"></i>
                <span>/Gustavo Mello</span>
              </a>
            </div>
          </div>
    </div>
    <script>
      feather.replace()
    </script>
</body>
</html>